target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Jrebel ###
rebel.xml
rebel-remote.xml

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
node_modules
.mvn
package-lock.json
img