<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.demo.mapper.blog.BlogArticleMapper">
    <update id="updateAll">
        update T_BLOG_ARTICLE
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="collection_id = case " suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.collectionId !=null">
                        when id=#{item.id} then #{item.collectionId}
                    </if>
                </foreach>
            </trim>

            <trim prefix="content = case " suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.content !=null">
                        when id=#{item.id} then #{item.content}
                    </if>
                </foreach>
            </trim>

            <trim prefix="title = case " suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.title !=null">
                        when id=#{item.id} then #{item.title}
                    </if>
                </foreach>
            </trim>

            <trim prefix="is_valid = case " suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.isValid !=null">
                        when id=#{item.id} then #{item.isValid}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>


    <select id="getAllArticle" resultType="java.util.Map">
        SELECT article.id article_id, article.collection_id, article.content, article.title, article.create_time article_create_time,
        coll.name collection_name, ur.id user_id,ur.username, ur.head_url headUrl, article.is_valid
        FROM T_BLOG_ARTICLE article
        LEFT JOIN T_BLOG_COLLECTION coll ON  article.collection_id = coll.id
        LEFT JOIN T_BLOG_USER ur ON coll.user_id = ur.id
        <where>
            <if test="userId != null">
               AND  ur.id = #{userId}
            </if>
            <if test="collectionId != null">
              and  article.collection_id = #{collectionId}
            </if>
        </where>
        order by article.id desc
    </select>
    <select id="getArticleDetail" resultType="java.util.Map">
       SELECT article.id article_id, article.collection_id, article.content, article.title, article.create_time article_create_time,
        coll.name collection_name, ur.id user_id,ur.username, ur.head_url, article.is_valid
        FROM T_BLOG_ARTICLE article
        LEFT JOIN T_BLOG_COLLECTION coll ON  article.collection_id = coll.id
        LEFT JOIN T_BLOG_USER ur ON coll.user_id = ur.id
        WHERE article.id = #{articleId}
    </select>
</mapper>